
.formulario-boletas {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.descripcion {
    margin-top: 10px;
}

/* Estilos adicionales para mejorar la apariencia */
select.form-control.opciones {
    display: block;
    color: #555;
}

input.form-control.descripcion {
    display: none; /* Inicialmente oculto */
}


/*", " . $row["EstadoB"] . */


.modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .contenido-modal {
    display: flex;
    justify-content: space-between;
}
  



  .informacion {
    flex-basis: 50%;
}

.comprobante {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.comprobante img {
    max-width: 100%;
    height: auto;
}

  
  /* Estilos adicionales para el modal */
  .modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 10% auto; /* Ajusta este valor si el modal está demasiado alto o bajo */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal h1 {
    color: black;
    margin-top: 0; /* Elimina el margen superior por defecto del h1 */
    padding-top: 0; /* Asegura que no haya espacio extra en la parte superior */
  }

  /* CSS para el modal */
.modal-content {
  background-color: #f8f9fa; /* Color de fondo */
  border-radius: 15px; /* Bordes redondeados */
  border: 2px solid #007bff; /* Borde sólido con color */
}

.modal-header, .modal-footer {
  background-color: #007bff; /* Color de fondo para el encabezado y pie de página */
  color: white; /* Color de texto */
}

.modal-title {
  color: #fff; /* Color del título */
}