/* ===============================
            Loader (Carga)
   =============================== */

   body,
   html {
       margin: 0;
       padding: 0;
       height: 100%;
       overflow: hidden;
   }
   
   #contenedor {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: white;
       /* Puedes ajustar el color de fondo según tu diseño */
       z-index: 9999;
   }
   
   .loader {
       display: flex;
       gap: .5em;
   }
   
   .leaf {
       width: 1em;
       height: 3em;
       background-color: rgba(0, 0, 0, 0.3);
       clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 81%);
       transform: rotate(-30deg);
       animation: color 1200ms infinite;
   }
   
   .leaf:nth-child(2) {
       clip-path: polygon(0% 35%, 100% 35%, 100% 100%, 0% 81%);
       animation-delay: 800ms;
   }
   
   .leaf:nth-child(1) {
       clip-path: polygon(0% 70%, 100% 70%, 100% 100%, 0% 81%);
       animation-delay: 400ms;
   }
   
   @keyframes color {
       from {
           background-color: rgba(0, 0, 0, 0.3);
       }
   
       to {
           background-color: rgba(0, 0, 0, 1);
       }
   }
   
   /* ===============================
                  Cuerpo Base
         =============================== */
   
   html,
   body {
       height: 100%;
       margin: 0;
       padding: 0;
   }
   
   .base {
       display: flex;
       min-height: 100vh;
       /* Cambiado de 'height: 100%;' a 'min-height: 100vh;' */
       width: 100%;
       padding: 0;
       box-sizing: border-box;
       justify-content: center;
       justify-items: center;
       align-items: center;
       text-align: center;
   
       --s: 200px;
       /* control the size */
       --c1: #1d1d1d;
       --c2: #4e4f51;
       --c3: #3c3c3c;
       background: repeating-conic-gradient(from 30deg,
               #0000 0 120deg,
               var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
           repeating-conic-gradient(from 30deg,
               var(--c1) 0 60deg,
               var(--c2) 0 120deg,
               var(--c3) 0 180deg);
       background-size: var(--s) calc(var(--s) * 0.577);
   }
   
   .base h1 {
       margin-top: 25%;
       color: white;
   }
   

   /* ===============================
                 Navbar
      =============================== */


.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo negro con opacidad */

}

.navbar {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar .container-fluid .d-flex {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand,
.nav-link {
    color: white !important;
    /* Texto blanco */
}

.nav-link:hover,
.navbar-brand:hover {
    color: #ffcc00 !important;
    /* Texto dorado al pasar el ratón */
}

.navbar-nav .nav-item .nav-link.active {
    background-color: #444;
    /* Color de fondo gris para el enlace activo */
    border-radius: 5px;
}

.dropdown-menu {
    background-color: #333;
    /* Fondo gris oscuro para el menú desplegable */
    border-radius: 5px;
}

.dropdown-item {
    color: white !important;
    /* Texto blanco en el menú desplegable */
}

.dropdown-item:hover {
    background-color: #555;
    /* Fondo gris más claro al pasar el ratón */
}

.btn-outline-light {
    color: white;
    border-color: white;
}

.btn-outline-light:hover {
    background-color: white;
    color: #007bff;
}

.form-control {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}

.form-control::placeholder {
    color: #ccc;
}

.form-control:focus {
    background-color: #444;
    color: white;
    border: 1px solid #666;
}


/* Estilo para las tarjetas de productos */
.card {

    transition: 0.3s;
    border-radius: 5px;
    margin: 20px;
    border: 2px solid #000000;
}

.card:hover {
    border: 2px solid #ffcc00;

}

.card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;

}

.card-body {
    padding: 20px;

}

.card-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.card-text {
    font-size: 19px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ===============================
                Usuario
    =============================== */



#UsuarioNew span {
    color: #ffffff;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    transition: background-color 2s ease;
    cursor: pointer;
}

#UsuarioNew span:hover{
    color: #ffcc00;
    
}


    /* CSS */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 20px;
}

table {
    color: rgb(0, 0, 0);
    margin-top: 50px;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

#boleta {
    margin-top: 20px;
    color: #000000;
    font-size: 50px;
}

#tablaProductos{
    justify-content: center;
    text-align: left;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.subtotal td {
    background-color: #f2f2f2;
    padding-top: 20px;
}

.iva td {
    background-color: #d9d9d9;
    padding-top: 20px;
}

.total td {
    background-color: #bfbfbf;
    font-weight: bold;
    padding-top: 20px;
}

table td:first-child,
table td:nth-child(2),
table td:nth-child(3) {
    text-align: left;
}

#tablaProductos tr {
    border-bottom: 1px solid #000;
}

#tablaProductos th,
#tablaProductos td {
    text-align: left;
}

.descripcion {
    padding-right: 20px; /* Ajusta este valor a la cantidad de espacio que desees */
  }



.btn-primary {
    width: 100%;
}



/* ===============================
            Boleta Button
    =============================== */


.container a{
    width: 100%;
    background-color: #424242; 
    color: white; 
    border: 1px solid #ffcc00; 
    padding: 15px 0; 
    font-size: 20px; 
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    border-radius: 15px;
    
}

.container a:hover{
    width: 100%;
    background-color: #ffcc00; 
    color: rgb(0, 0, 0); 
    border: 2px solid #000000; 
    padding: 15px 0; 
    font-size: 20px; 
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    
}



#boletas2{
    margin-top: 30px;
}



/* ===============================
          Boleta Estructura
   =============================== */



img {
    
}

.logo {
    width: 150px; 
    height: 80px; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
}